  
    <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        </div>
        <div class="card-content">
            <p class="category">Creditor</p>
            <br />
            <br />
            <h3 class="title">(@ViewBag.Cr)</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">update</i> Just Updated
            </div>
        </div>
    </div>
 