@{
    ViewBag.Title = "Client Layout";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<!--Slider Area-->
<div class="slider-area">
    <div class="slider-wrapper">
        <div class="single-slide" style="background-image: url('/ClientAssets/img/slider/1.jpg');">
            <div class="banner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="text-content-wrapper">
                                <div class="text-content text-center">
                                    <h3 class="title1 pt-65">WE PROVIDE BEST FINANCIAL SOLUTIONS</h3>
                                    <h1 class="title2">FOR YOUR BUSINESS</h1>
                                    <p>Financial organization that provide one solution for all your business problems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="background-image: url('/ClientAssets/img/slider/1.jpg');">
            <div class="banner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="text-content-wrapper slide-two">
                                <div class="text-content text-center">
                                    <h3 class="title1 pt-65">WE PROVIDE BEST FINANCIAL SOLUTIONS</h3>
                                    <h1 class="title2">FOR YOUR BUSINESS</h1>
                                    <p>Financial organization that provide one solution for all your business problems.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Slider Area-->
<!--About Area-->
<div id="about" class="about-area bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <h3>We are <span>Munchians</span></h3>
                    <h2>Your Complete Financial Solutions </h2>
                    <p>E-Munchi is a leading Financial Solution that provide financial assistance to our clients. We helps clients to make financial statements, employee management, company management, product management, stock management and different types of reports. We offer to our clients best solution to achieve their goals within a very affordable price that is tailored to their needs. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-right">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-content">
                                <h4 class="single-title">Financial Statements</h4>
                                <p>We offer different financial statement include balance sheet, income sheet and more on single click that save your time..</p>
                            </div>
                            <div class="single-content">
                                <h4 class="single-title">Analysing Tool</h4>
                                <p>Using our dashboard you can analyse your business stats.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single-content">
                                <h4 class="single-title">Income Record</h4>
                                <p>E-Munchi work with clients to develop better income record for the company.</p>
                            </div>
                            <div class="single-content">
                                <h4 class="single-title">24/7 Support</h4>
                                <p>E-Munchi give its clients 24/7 support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
<!-- Information Area Start -->
<div class="information-area bg-light fix">
    <div class="information-chart">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="information-text">
        <h3><span>We Provide Best</span></h3>
        <h2>Financial Plan for You</h2>
        <p>No one strategy fits everyone, which is why every client gets our undivided
        attention—from planning to execution to follow-up. We take a proactive approach
         to helping you develop a strategy to address your financial goals and objectives,
         using the most efficient methods available.

        Recognizing that everyone encounters challenges along the way, we strive to
        anticipate and address those situations as they occur. We want to keep you on
         track toward a meaningful and purpose-driven financial future.

        We invite you to check out all the material on our website. If something prompts a
         question, please send us a quick email or call our office. We would enjoy speaking
         with you.</p>
        <a href="#" class="default-button">Learn more</a>
    </div>
</div>
<!-- Information Area End -->
<!-- Services Area Start -->
<div id="services" class="service-area pt-120 pb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="section-title text-center mb-55">
                    <h2>Our Services</h2>
                    <p>E-Munchi gives best services to clients. There are some of the following:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/plan.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Financial Statement</h4>
                        <p>We offer different financial statement include balance sheet, income sheet and more on single click that save your time. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/cash.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Employee Management</h4>
                        <p>E-Munchi help their clients to better manage their employees. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/brif.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Product Management</h4>
                        <p>E-Munchi provide best product management for their clients. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End -->
<!-- Advertise Area Start -->
@*<div class="advertise-area bg-2 overlay-green">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="advertise-text text-white text-center">
                        <h2>We Provide Best Financial Theme for your Business</h2>
                        <p>We have over 25  year’s of experience in Finance and Business management so we can make your business more successful you can trust us and we care about it</p>
                        <a href="#" class="default-button btn-white">Buy now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Advertise Area End -->
<!-- Features Area Start -->
<div class="features-area bg-light fix">
    <div class="feature-left-column">
        <img src="~/ClientAssets/img/banner/2.jpg" alt="">
    </div>
    <div class="feature-right-column">
        <div class="col-10">
            <div class="feature-text">
                <h3><span>Why You</span></h3>
                <h2>Choose E-Munchi</h2>
                <p>E-Munchi is a leading Financial Solution that provide financial assistance to our clients. We helps clients to make employee management, company management, product management, stock management, and different types of reports.</p>
            </div>
        </div>
        <div class="custom-row">
            <div class="col-5">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/rocket.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Easy Access</h4>
                        <p>Due to our cloud base system you can access easily from anywhere in the world.</p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/team.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Dedicated Team</h4>
                        <p>E-Munchi has a dedicated team which has better control over the entire process.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-5">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/doc.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Reports</h4>
                        <p>E-Munchi offers free reports like trial balance, profit loss and income statement.</p>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="single-item">
                    <span class="service-image">
                        <img src="~/ClientAssets/img/icons/refi.png" alt="">
                    </span>
                    <div class="service-text">
                        <h4>Analyzing Tool</h4>
                        <p>Using our dashboard you can analyse your business stats. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Area End -->
<!-- Projects Area Start -->
@*<div class="projects-area ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="section-title text-center mb-55">
                        <h2>Our Projects</h2>
                        <p>Financo amet sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row custom-row">
                <div class="grid fix">
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/13.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/13.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/14.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/14.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/15.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/15.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/16.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/16.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/17.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/17.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
                        <div class="project-style">
                            <div class="project-image">
                                <img src="~/ClientAssets/img/project/18.jpg" alt="" />
                            </div>
                            <div class="project-hover">
                                <a class="project-icon image-popup-no-margins" href="~/ClientAssets/img/project/18.jpg"><img src="~/ClientAssets/img/icons/src.png" alt=""></a>
                                <div class="project-text">
                                    <h4><a href="project.html">Financial Planning</a></h4>
                                    <p>Financo consectetur adipiscing elit, sed do eiusmod tempor incididnt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Projects Area End -->
<!-- Fun Factor Start -->
<div class="fun-factor-area bg-3 overlay-green pt-100 fix pb-95">
    <div class="container">
        <div class="fun-custom-row">
            <div class="fun-custom-column">
                <div class="single-fun-factor">
                    <div class="text-icon block">
                        <img src="~/ClientAssets/img/icons/cup.png" alt="" class="mr-15">
                        <h2><span class="counter">750</span></h2>
                    </div>
                    <h4>Cup Of Coffee</h4>
                </div>
            </div>
            <div class="fun-custom-column">
                <div class="single-fun-factor">
                    <div class="text-icon block">
                        <img src="~/ClientAssets/img/icons/check.png" alt="" class="mr-15">
                        <h2><span class="counter">350</span></h2>
                    </div>
                    <h4>Case Complete</h4>
                </div>
            </div>
            <div class="fun-custom-column">
                <div class="single-fun-factor">
                    <div class="text-icon block">
                        <img src="~/ClientAssets/img/icons/face.png" alt="" class="mr-15">
                        <h2><span class="counter">180</span></h2>
                    </div>
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="fun-custom-column">
                <div class="single-fun-factor">
                    <div class="text-icon block">
                        <img src="~/ClientAssets/img/icons/teams.png" alt="" class="mr-15">
                        <h2><span class="counter">62</span></h2>
                    </div>
                    <h4>Team Member</h4>
                </div>
            </div>
            @*<div class="fun-custom-column">
                    <div class="single-fun-factor">
                        <div class="text-icon block">
                            <img src="~/ClientAssets/img/icons/trophy.png" alt="" class="mr-15">
                            <h2><span class="counter">45</span></h2>
                        </div>
                        <h4>Awards Win</h4>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- Fun Factor End -->
<!-- Asked Area Start -->
<div class="asked-area pt-120 pb-85 bg-light">
    <div class="container">
        <div class="row">
            @Html.Partial("_contact")
            <div class="col-md-6">
                <div class="default-panel">
                    <div class="sub_title">
                        <h3>Frequently Ask Qustion</h3>
                        <p>E-Munchi is a financial company that will provide services of CMS </p>

                    </div>
                    <div class="panel-group" id="order-review" role="tablist" aria-multiselectable="true">
                         
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#order-review" href="#two">
                                        <span></span> How we help you for your Business
                                    </a>
                                </h4>
                            </div>
                            <div id="two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>We will provide one best solution for your problems. we will provide compelete company managment system for your business. we will also provide solutions according to your business needs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#order-review" href="#three">
                                        <span></span>Why should we join E-Munchi?
                                    </a>
                                </h4>
                            </div>
                            <div id="three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>E-Munchi is a leading Financial Solution that provide financial assistance to our clients. We helps clients to make employee management, company management, product management, stock management, and different types of reports.</p>
 </div>
                            </div>
                        </div>
                         
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Asked Area End -->
<!-- Team Area Start -->
@*<div id="team" class="team-area fix pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="section-title text-center mb-95">
                    <h2>Our Team</h2>
                    <p>Our team consist of highly talented young individuals working together to achieve a goal. Our team consist of these following people:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="#" class="block">
                            <img src="/ClientAssets/img/team/1.png" alt="">
                        </a>
                    </div>
                    <div class="member-text">
                        <h3><a href="#">Robert Williams</a></h3>
                        <span>Chef Executive Officer</span>
                        <p>Financo amet sit amet, constur adipiscing elit, sed do  mod tempor incididunt ostrud </p>
                        <div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/call.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/call-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/google-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/google-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="#" class="block">
                            <img src="~/ClientAssets/img/team/2.png" alt="">
                        </a>
                    </div>
                    <div class="member-text">
                        <h3><a href="#">Jasmin Jaquline</a></h3>
                        <span>Financial Advisor</span>
                        <p>Financo amet sit amet, constur adipiscing elit, sed do  mod tempor incididunt ostrud </p>
                        <div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/call.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/call-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/google-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/google-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="#" class="block">
                            <img src="~/ClientAssets/img/team/3.png" alt="">
                        </a>
                    </div>
                    <div class="member-text">
                        <h3><a href="#">Sharlok Homes</a></h3>
                        <span>Chef Executive Officer</span>
                        <p>Financo amet sit amet, constur adipiscing elit, sed do  mod tempor incididunt ostrud </p>
                        <div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/call.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/call-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/google-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/google-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 hidden-md hidden-sm">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="#" class="block">
                            <img src="~/ClientAssets/img/team/4.png" alt="">
                        </a>
                    </div>
                    <div class="member-text">
                        <h3><a href="#">Rose Smith</a></h3>
                        <span>Financial Consultant</span>
                        <p>Financo amet sit amet, constur adipiscing elit, sed do  mod tempor incididunt ostrud </p>
                        <div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/call.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/call-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="~/ClientAssets/img/icons/google-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="~/ClientAssets/img/icons/google-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Team Area End -->
<!-- testimonial Carousel Start -->
@*<div class="testmonial-carousel bg-light ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="testmonial-wrapper text-center">
                        <div class="single-testi">
                            <div class="testi-img">
                                <img src="/ClientAssets/img/testi/1.jpg" alt="">
                            </div>
                            <div class="testi-text">
                                <p>Financo amet sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris               nisi ut aliquip ex ea commodo consequatuis aute irure</p>
                                <h5><a href="#">Andrew Williams</a></h5>
                                <span>CEO &amp; Founder</span>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img">
                                <img src="/ClientAssets/img/testi/1.jpg" alt="">
                            </div>
                            <div class="testi-text">
                                <p>Financo amet sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris               nisi ut aliquip ex ea commodo consequatuis aute irure</p>
                                <h5><a href="#">Andrew Williams</a></h5>
                                <span>CEO &amp; Founder</span>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img">
                                <img src="/ClientAssets/img/testi/1.jpg" alt="">
                            </div>
                            <div class="testi-text">
                                <p>Financo amet sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris               nisi ut aliquip ex ea commodo consequatuis aute irure</p>
                                <h5><a href="#">Andrew Williams</a></h5>
                                <span>CEO &amp; Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- testimonial Carousel End -->
<!-- Blog Area Start -->
@*<div class="blog-area pt-120 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="section-title text-center mb-55">
                        <h2>From Blog</h2>
                        <p>Financo amet sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-wrapper">
                    <div class="col-xs-12">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html"><img src="~/ClientAssets/img/blog/1.jpg" alt=""></a>
                                <span>10 January, 2017</span>
                            </div>
                            <div class="blog-text">
                                <h4><a href="blog-details.html">Financial Meeting</a></h4>
                                <p>Financo consectetur adipiscing elited do eiusmod tempor incididnt mint </p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html"><img src="~/ClientAssets/img/blog/2.jpg" alt=""></a>
                                <span>08 January, 2017</span>
                            </div>
                            <div class="blog-text">
                                <h4><a href="blog-details.html">Financial Planning</a></h4>
                                <p>Financo consectetur adipiscing elited do eiusmod tempor incididnt mint </p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html"><img src="~/ClientAssets/img/blog/3.jpg" alt=""></a>
                                <span>06 January, 2017</span>
                            </div>
                            <div class="blog-text">
                                <h4><a href="blog-details.html">Financial Tips and Tricks</a></h4>
                                <p>Financo consectetur adipiscing elited do eiusmod tempor incididnt mint </p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a href="blog-details.html"><img src="~/ClientAssets/img/blog/4.jpg" alt=""></a>
                                <span>04 January, 2017</span>
                            </div>
                            <div class="blog-text">
                                <h4><a href="blog-details.html">Financial Investment</a></h4>
                                <p>Financo consectetur adipiscing elited do eiusmod tempor incididnt mint </p>
                                <a href="blog-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Blog Area End -->
<!--Start of Client area-->
<div id="clients" class="client-area ptb-40 bg-light">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="col-xs-12">
                    <div class="single-client block">
                        <a href="#" class="block">
                            <span class="p-images"><img src="~/ClientAssets/img/client/1.png" alt=""></span>
                            <span class="s-images"><img src="~/ClientAssets/img/client/1-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="single-client block">
                        <a href="#" class="block">
                            <span class="p-images"><img src="~/ClientAssets/img/client/2.png" alt=""></span>
                            <span class="s-images"><img src="~/ClientAssets/img/client/2-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="single-client block">
                        <a href="#" class="block">
                            <span class="p-images"><img src="~/ClientAssets/img/client/3.png" alt=""></span>
                            <span class="s-images"><img src="~/ClientAssets/img/client/3-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="single-client block">
                        <a href="#" class="block">
                            <span class="p-images"><img src="~/ClientAssets/img/client/4.png" alt=""></span>
                            <span class="s-images"><img src="~/ClientAssets/img/client/4-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="single-client block">
                        <a href="#" class="block">
                            <span class="p-images"><img src="~/ClientAssets/img/client/5.png" alt=""></span>
                            <span class="s-images"><img src="~/ClientAssets/img/client/5-hover.png" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}